#breadcrumbs {
  display: block;
}

pre {
  background-color: #F5F5F5;
  margin: 2px;
  padding: 5px;
}

code {
  background-color: #F5F5F5;
  padding-right: 3px;
  padding-left: 3px;
}

pre code {
  padding: 0px;
}
